<%- include('./includes/top.ejs') %>
    <title>Page not found</title>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <main>
                <p>Not found!</p>
            </main>
            <%- include('./includes/bottom.ejs') %>