<%- include('./includes/top.ejs') %>
    <title>Admin Panel</title>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <main>
                <p>Here will be admin panel!</p>
            </main>
            <%- include('./includes/bottom.ejs') %>