<%- include('./includes/top.ejs') %>
    <title>Wheeler Homel</title>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <main>
                <p>Wheeler greeting page!</p>
            </main>
            <%- include('./includes/bottom.ejs') %>