<%- include('./includes/top.ejs') %>
    <title>Products</title>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <main>
                <p>Here will be products!</p>
            </main>
        <%- include('./includes/bottom.ejs') %>